<form method="get" action="/filter">
  <select id="category" name="category" onchange="this.form.submit()">
    <option value="" disabled selected>Specaliteit</option>
    <option value="UI">UI</option>
    <option value="UX">UX</option>
    <option value="Tech">Tech</option>
  </select>
</form>
