<form method="get" action="/filter">
  <select id="category" name="category" onchange="this.form.submit()">
    <option value="" disabled selected>Specaliteit</option>
    <option value="Tech">Tech</option>
    <option value="UI">UI</option>
    <option value="Vormgeving">Vormgeving</option>
    <option value="Interactie">Interactie</option>
    <option value="Projecten">Projecten</option>
    <option value="Cultuur">Cultuur</option>
    <option value="Staff">Staff</option>
  </select>
</form>
