<form method="get" action="/filter">
  <select id="category" name="category" onchange="this.form.submit()">
    <option value="" disabled selected>Specaliteit</option>
    <% categories.forEach(category => { %>
    <option value="<%- category -%>"><%- category -%></option>
    <% }) %>
  </select>
</form>
