<section class="catButtons">
  <a href="/catalog" id="catalogButton">
    <img src="/images/index.png" />Catalogus</a
  >
  <a href="/" id="gridButton"> <img src="/images/grid.png" />Grid</a>
</section>
<%- include("./search.ejs") -%> <%- include("./filter.ejs") -%>
<nav>
  <button class="scrollButton" onClick="up()">▲ Omhoog</button>
  <button class="scrollButton" onClick="down()">▼ Omlaag</button>
</nav>
