<section class="catButtons">
  <a href="/catalog" id="catalogButton" class="navButtons">
    <img alt="catalogus icoon" src="/images/index.png" />Catalogus</a
  >
  <a href="/" id="gridButton" class="navButtons">
    <img alt="grid icoon" src="/images/grid.png" />Grid</a
  >
</section>
<%- include("./search.ejs") -%> <%- include("./filter.ejs") -%>
<nav>
  <button class="scrollButton" onClick="up()">▲ Omhoog</button>
  <button class="scrollButton" onClick="down()">▼ Omlaag</button>
</nav>
