<%- include("./search.ejs") -%> <%- include("./filter.ejs") -%>
<nav>
  <button class="scrollButton" onClick="up()">▲ Omhoog</button>
  <button class="scrollButton" onClick="down()">▼ Omlaag</button>
</nav>
