<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./components/head.ejs") -%>
</head>
<body>
    <header>
        <h1>CMDA Smoelenboek</h1>
        <h2>Ontmoet alle docenten</h2>
    </header>
    <main>
        <section id="aanwezig">
            <h2>Aanwezig</h2>
            <section class="docenten">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </section>
        </section>
        <section id="afwezig">
            <h2>Afwezig</h2>
            <section class="docenten">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </section>
        </section>
    </main>
    <footer></footer>
</body>
</html>