.docenten {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  transition: ease-in-out 0.5s;
}

.openPop .docenten {
  grid-template-columns: repeat(13, 1fr);
}

.docenten a {
  max-width: 100%;
  margin-left: 0.5em;
}

.images {
  overflow: hidden;
  width: 74px;
  margin-bottom: 0.5em;
}

.frame {
  max-width: 83px;
}

.teacher {
  /* max-width: 5em; */
  height: 105px;
}
