/* 
Grote koppen Open Sans Light
Lopende tekst Open Sans Regular
Kleine kopjes Open Sans Bold
*/
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-VariableFont_wdth.ttf") format("truetype");
}

body {
  font-family: "OpenSans", sans-serif;
}

main {
  margin: 2em 1em 6em 1em;
}

main h2 {
  margin: 1em 0em;
  width: 100%;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  height: 4em;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fef01f;
  color: white;
  text-align: center;
  z-index: 11;
}

footer form input {
  margin-bottom: 0;
  padding: 0.75em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  height: 3.25em;
  font-family: inherit;
}

/* Home page / smoelenboek overzicht */
.allTeachers {
  width: 100%;
  margin-top: 53em;
  transition: 0.5s;
}

.docenten {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.docenten a {
  max-width: 10em;
  text-align: center;
  margin-left: 0.25em;
  padding-top: 2em;
}

.docenten p {
  padding-top: 0.25em;
}

#keyboardWrapper {
  position: fixed;
  width: 100vw;
  bottom: 4em;
  z-index: 11;
  pointer-events: none;
}

.focusCancel {
  position: absolute;
  left: 0;
  right: 0;
  top: 53em;
  height: 100vh;
  z-index: 10;
}

#keyboard {
  max-width: 33%;
  margin: 0em 5em;
  pointer-events: initial;
}

.footerCat {
  justify-content: space-between;
}

.footerCat nav {
  margin-right: 12em;
}

.letters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 36%;
  margin-right: 39em;
}

.letters a {
  padding: 0.5em 1em;
}

.letterClicked {
  background: #32323180;
  color: #ffffff;
}

/* Detail page */
.teacherName {
  text-align: center;
  margin-bottom: 2em;
}

.teacherImage {
  max-height: 13em;
}

.teacherInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.teacherDetail {
  max-width: 50%;
}

.teacherDetail h3:first-of-type {
  margin-top: 2em;
}

.frame {
  position: absolute;
  max-width: 160px;
  max-height: 160px;
  z-index: 3;
}

.teacher {
  max-width: 10em;
  z-index: 1;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  margin-top: 1em;
}

.relatedTeachers {
  display: grid;
  grid-template-rows: repeat(4, 10em);
  grid-template-columns: repeat(3, 1fr);
}

.relatedTeachersTitle {
  text-align: center;
  grid-column: 1 / -1;
}

.relatedTeachers h3 {
  text-align: center;
}

.teacherLink h4 {
  text-align: center;
  margin-top: 1.25em;
}

/*POP-UP*/
.pop-up {
  position: fixed;
  right: 0em;
  top: 0em;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 10px 18px #000;
  padding: 2em;
  border-left: 1px solid black;
  width: 23%;
  transition: 0.5s;
}

.allTeachers.openPop {
  width: 70%;
}

.searchPop-up {
  top: 19em;
}

.pop-up.hidden {
  right: -30em;
}

#keyboardWrapper.hidden,
.focusCancel.hidden {
  display: none;
}

button.close {
  z-index: 3000;
  display: flex;
  align-self: flex-end;
  position: relative;
  height: 2em;
  width: 2em;
  border: none;
  background-color: transparent;
  margin-right: 0.625em;
  cursor: pointer;
}

.close div {
  position: absolute;
  height: 1.625em;
  width: 2px;
  margin: 0;
  background-color: black;
  left: 50%;
  top: 20%;
}

.close div:first-of-type {
  transform: rotate(45deg);
}

.close div:last-of-type {
  transform: rotate(135deg);
}

.popupWrapper {
  text-align: left;
}

.popupWrapper .teacher {
  max-width: 13em;
}

.popupWrapper #info {
  padding: 0em 1em 2em;
}

.popupWrapper .moreInfo {
  margin: 1.5em 0em 1em;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 1em;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  border: none;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.closeButton {
  padding-left: 0.5em;
}

.submitButton,
.scrollButton,
#gridButton,
#gridButtonCat,
#catalogButton {
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  box-shadow: 0 -3px rgb(0 0 0 / 10%) inset;
  color: #ffffff;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 1em;
  position: relative;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
  border: none;
  flex-direction: row;
  height: 3.5em;
  justify-content: center;
  align-items: center;
}

#category {
  padding: 0.75em;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid black;
  font-family: inherit;
}

.catButtons {
  position: fixed;
  left: 2em;
  bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

#gridButtonCat {
  margin-left: 3em;
  bottom: 0.2em;
}

#gridButton {
  bottom: 0.2em;
}

#catalogButton {
  margin-right: 1em;
  bottom: 0.2em;
}

#catalogButton img,
#gridButton img,
#gridButtonCat img {
  height: 2em;
  margin-right: 0.5em;
}
